.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}


@media only screen  and (max-width: 1140px){

    .nav-list{
        flex-direction: column;

    }
    .navbar{
        height: 447px;
        flex-direction: column;
        transition: 0.7s ease-out;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;

    }
    .right-nav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .para{
        padding: 0px;
    }
}
